.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

body {
    background-color: #fff;
    color: #243238;
    font-family: "PT Sans",sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    min-width: 320px;
    width: 100%;
}

body, html {
    height: 100%;
}
