.pag {
  text-align: center;
  display: block;
  clear: both;
}

.pagination {
  > li {
    > a {
      color: $black;
    }
    > a:hover {
      color: $yellow;
    }
  }

  > .active {
    > a {
      background-color: $yellow;
      border-color: $yellow;
    }
    > a:hover {
      background-color: $yellow;
      border-color: $yellow;
    }
  }
}
