// Font-Size Map
$font-xxx-small: rem(10);
$font-xx-small: rem(12);
$font-x-small: rem(14);
$font-small: rem(16);
$font-medium: rem(18);
$font-large: rem(20);
$font-x-large: rem(22);
$font-xx-large: rem(24);
$font-xxx-large: rem(26);

$font-sizes: (
  xxxsmall: $font-xxx-small,
  xxsmall: $font-xx-small,
  xsmall: $font-x-small,
  small: $font-small,
  medium: $font-medium,
  large: $font-large,
  xlarge: $font-x-large,
  xxlarge: $font-xx-large,
  xxxlarge: $font-xxx-large
);

$black:  #000;
$white:  #fff;
$gray-light: #ccc;
$yellow: #ebca7a;
