<h1 class="title">{{vm.title}}</h1>

<div class="box-beer col-xs-6 col-md-3 col-sm-4" ng-repeat="beer in filteredBeer = (vm.beers | filter: filterBeers) | PaginationFilter: vm.currentPage : vm.numPerPage">
    <h3>{{beer.name}}</h3>
    <img class="box-img img-thumbnail" src="{{beer.labels.icon}}" alt="{{beer.name}}">
    <div class="box-info">
      <p><span>Style:</span> {{beer.style.name}}</p>
      <p><span>Price:</span> ${{vm.prices[$index].price}}</p>
      <p><span>Brewery:</span> {{beer.breweries[0].name}}</p>
    </div>
    <a class="btn btn-sm btn-primary btn-block" ng-click="vm.getBeer(beer.id, vm.prices[$index].price, beer.breweries[0].name)">View More</a>
    <ngcart-addtocart id="{{beer.id}}" name="{{beer.name}}" price="{{vm.prices[$index].price}}" quantity="1" quantity-max="10">Add to Cart</ngcart-addtocart>
</div>

<div class="text-center" ng-show="filteredBeer.length > vm.numPerPage">
  <ul uib-pagination
      class="pagination-md"
      ng-model="vm.currentPage"
      max-size="vm.maxSize"
      total-items="filteredBeer.length"
      ng-hide="filteredBeer.length < vm.numPerPage"
      items-per-page="vm.numPerPage"
      boundary-links="true"
      rotate="false"
      previous-text="Previous"
      next-text="Next"
      first-text="First"
      last-text="Last">
  </ul>
</div>

<script type="text/ng-template" id="template/ngCart/addtocart.html">
    <div ng-hide="attrs.id">
        <a class="btn btn-lg btn-primary btn-block" ng-disabled="true" ng-transclude></a>
    </div>
    <div class="box-actions" ng-show="attrs.id">
        <div>
            <span ng-show="quantityMax">
                <select class="form-control" name="quantity" id="quantity" ng-model="q"
                        ng-options="v for v in qtyOpt"></select>
            </span>
            <a class="btn btn-md btn-primary pull-right"
               ng-click="ngCart.addItem(id, name, price, q, data)"
               ng-transclude></a>
        </div>
        <mark class="box-mark" ng-show="inCart()">
            This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
        </mark>
    </div>
</script>
