<h2>{{vm.title}}</h2>

<div class="row">
    <div class="col-xs-6 col-md-3 col-sm-3" ng-repeat="beer in filteredBeer = (vm.beers | filter: filterBeers) | PaginationFilter: vm.currentPage : vm.numPerPage">
        <h4>{{beer.name}}</h4>
        <p>Style: {{beer.style.name}}</p>
        <img src="{{beer.labels.icon}}" alt="{{beer.name}}">
        <p>Price: ${{vm.prices[$index].price}}</p>
        <p>Brewery: {{beer.breweries[0].name}}</p>
        <ngcart-addtocart id="{{beer.id}}" name="{{beer.name}}" price="{{vm.prices[$index].price}}" quantity="1" quantity-max="10">Add to Cart</ngcart-addtocart>
    </div>
</div>

<div class="clearfix text-center" ng-show="filteredBeer.length > vm.numPerPage">
  <ul uib-pagination
      class="pagination-sm"
      ng-model="vm.currentPage"
      max-size="vm.maxSize"
      total-items="filteredBeer.length"
      ng-hide="filteredBeer.length < vm.numPerPage"
      items-per-page="vm.numPerPage"
      boundary-links="true"
      rotate="false"
      previous-text="Previous"
      next-text="Next"
      first-text="First"
      last-text="Last">
  </ul>
</div>

<script type="text/ng-template" id="template/ngCart/addtocart.html">
    <div ng-hide="attrs.id">
        <a class="btn btn-lg btn-primary btn-block" ng-disabled="true" ng-transclude></a>
    </div>
    <div ng-show="attrs.id">
        <div>
            <span ng-show="quantityMax">
                <select class="form-control" name="quantity" id="quantity" ng-model="q"
                        ng-options="v for v in qtyOpt"></select>
            </span>
            <a class="btn btn-sm btn-primary btn-block"
               ng-click="ngCart.addItem(id, name, price, q, data)"
               ng-transclude></a>
        </div>
        <mark  ng-show="inCart()">
            This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
        </mark>
    </div>
</script>
